Flask
Flask-SQLAlchemy
Flask-Login
Authlib
Flask-Migrate
alembic
Flask-Cors
google-api-python-client
google-auth
PyJWT
requests
pymysql
pydantic
pytest

git+https://${GITHUB_TOKEN}@github.com/killfile/apptracker_shared.git@main#egg=apptracker_shared
git+https://${GITHUB_TOKEN}@github.com/killfile/apptracker_database.git@main#egg=apptracker_database
