kafka-python
cryptography
pyyaml

git+https://${GITHUB_TOKEN}@github.com/killfile/apptracker_shared.git@main#egg=apptracker_shared
git+https://${GITHUB_TOKEN}@github.com/killfile/apptracker_database.git@main#egg=apptracker_database